/* Modal Stili */
.modal {
    display: none; /* Başlangıçta gizli */
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Arka plan bulanıklığı */
    backdrop-filter: blur(8px); /* Arka planı bulanıklaştır */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

.modal-content h2 {
    font-size: 1.8em;
    color: #1e3a8a;
    margin-bottom: 15px;
}

.modal-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

.logout-btn {
    background-color: #1e3a8a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #3b82f6;
}
